body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#middle>div {
    display: none;
    height: auto;
}

#main>div {
    border-radius: 10px;
    margin-right: 2px;
}

.navBar li {
    display: inline-block;
    margin: 3px;
    color: #000;
    background-color: lightgray;
    font-size: 1.5em;
}

nav::before {
    content: "...";
    display: inline-block;
}

nav::after {
    content: "...";
    display: inline-block;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    margin: 0.5em 0 0 0;
}

aside {
    width: 10%;
    font: italic;
}

aside>p {
    box-shadow: inset 5px 0 5px -5px #29627e;
    ;
}

code {
    background-color: lightgray;
    color: palevioletred;
}

a:hover {
    background-color: aquamarine;
}


a.active {
    background-color: yellow;
}

.leftBar {
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.leftBar > div {
    flex:1;
    
}

button {
    width: 20em;
    margin: 0.5rem;
    background-color: papayawhip;
}

#button_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Create three equal-width columns */
    grid-gap: 10px;
    /* Add spacing between buttons */
}

#button_container button {
    padding: 10px 20px;
    border: none;
    background-color: bisque;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#grandDiv {
    background-color: antiquewhite;
    height:50em;
    display: flex;
    margin: 5%;
    padding: 5%;
    border:1.5px black dotted;

    #dadDiv {
        background-color: coral;
        align-items: flex-end;
        height: 10em;
        width: 15em;

        #sonDiv {
            background-color: crimson;
            height: 5em;
            
        }
    }
}